<header class="main__header">
  <img class="cedar__logo" src="assets/img/small-tree.png">
  <h2 class="app-title">{{'App.NavTitle'|translate}}
    <button (click)="openInCedar()" mat-icon-button class="help-text-button"
            matTooltip="Login to CEDAR">
      <mat-icon>exit_to_app</mat-icon>
    </button>
  </h2>

  <div class="button-container">
    <button (click)="goto('https://cedar.metadatacenter.org')" mat-button>
      CEDAR
    </button>
  </div>

  <div class="button-container">
    <button (click)="goto('http://metadatacenter.org')" mat-button>
      metadatacenter.org
    </button>
  </div>

</header>
