CEDAR FAIRData

<p>
  <a
    href="/template-fields/https%3A%2F%2Frepo.metadatacenter.orgx%2Ftemplate-fields%2F58471f9b-b6b1-4623-a053-7f8d097e2f1c">Field</a>
</p>

<p>
  <a
    href="/template-elements/https%3A%2F%2Frepo.metadatacenter.orgx%2Ftemplate-elements%2Fef705801-4cd6-4c86-ac15-9408c64bc354">Element</a>
</p>

<p><a href="/templates/https%3A%2F%2Frepo.metadatacenter.orgx%2Ftemplates%2Fdca5a2dd-46ac-402c-b1b4-97e10e058b4c">Template</a>
</p>

<p><a
  href="/template-instances/https%3A%2F%2Frepo.metadatacenter.orgx%2Ftemplate-instances%2F09e1c574-e0bf-48e6-a663-cad0ccc40888">Instance</a>
</p>
