<div class="wide-container">

  <footer class="main__footer">
    <div class="flex">
      <div class="paragraph__section">
        <a href="https://computationalmedicine.stanford.edu/" target="_blank" rel="noreferrer">
          <img src="assets/img/computational-medicine-logo.png" class="computational-medicine-logo"
               alt="Stanford Division of Computational Medicine">
        </a>
        <h1 class="footer-title">About CEDAR</h1>
        <p>
          CEDAR is maintained by the Stanford Division of Computational Medicine.
        </p>
        <p>
          <a href="https://metadatacenter.org/" target="_blank" rel="noreferrer">Visit the CEDAR website</a>
        </p>
      </div>
    </div>

  </footer>
</div>
