<mat-form-field class="full-width">

  <mat-chip-list #chipList>
    <mat-chip class="chip" *ngFor="let chip of group.controls['values']['controls'][0].get('chips')['controls']; let i = index;"
      (changed)="add($event)" [selectable]="selectable" [removable]="removable" (removed)="remove(i)">
      <span>{{chip['value']}}</span>
      <mat-icon matChipRemove>cancel</mat-icon>
    </mat-chip>
    <input #autocompleteInput type="text"  aria-label="Number" matInput
      [formControl]="group.controls['values']['controls'][0].get('search')"
      [matAutocomplete]="auto" [matChipInputFor]="chipList">
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (changed)="changed($event)"
      (optionSelected)="selected($event, group.controls['values']['controls'][0].get('search').value['@id'], group.controls['values']['controls'][0].get('search').value['prefLabel'])">
      <mat-option *ngIf="isLoading" class="is-loading">
        <mat-spinner diameter="20"></mat-spinner>
      </mat-option>
      <ng-container>
        <mat-option *ngFor="let option of allPosts" [value]="option"  >
          {{option.prefLabel}}
        </mat-option>
      </ng-container>
    </mat-autocomplete>
  </mat-chip-list>

</mat-form-field>

