sudo: required
dist: trusty
addons:
  hosts:
  - openview.metadatacenter.orgx
  apt:
    sources:
    - google-chrome
    packages:
    - google-chrome-stable
language: node_js
node_js:
- '6'
branches:
  only:
  - develop
  - master
notifications:
  slack:
    on_success: always
    on_failure: always
    secure: WqBVOLYdwl2EoHl7GCi8+TT8ZiTi6WJr2g/o1TxIzzw/zVr/hTJuVPFzpsKRHgW7VS75fJfJXzqGRxtFvbZ5n4U0dV4XfrTcS0aS/qxbi4CMG/Ghv/4VKEIsryPn0kkAkzU88JKLK2sohCNhoAcmjgCmp2GLmKjaIElajkasLg3t3ONSozNMXPrOCbAspMahF6sKlceYOVnsQKjOcduMb8yG5rnmEMMcpYHj2ls8BLKNo079zKKmIkpv+KkNZX4gah2rpcaOO0UEJHv3JgTdAPAd9mqj18r1XCs7b+UQ5ubUv3LKA3X5CQxTdFLEJId9bWYOzgP6k52CTXhjrOywKLWbal5hx4oQtKQ4PRKvfKhesUWIB5Xa68D5eTSLXtRhGMC8vXKvP7XeNgXVs564T9XDanwtHtl5HIdWj3MdML4GybVI3QC4MOMKYUdoYZj3KDBcUy54PVdDo61+P/OuNGP1jmR48By6FIn9WjQnvXQLp2VwNMiPbwIqFD2CWEYo/uJzmb0A3cjQBohfdKs/Fspa3nL++pZhORg8hG0ei6+j8iQQl04gG+9mTOWFKECB/GfF/Dx6VSzrqDkMF8ZJ/igXEWHIkPNxCW3f92eDT1T8BjyQH1bjjj44tQzkVg33IFzb5rBgHv+s7KSLsTxGGpBfjb7nKvyO1PuQ8FbRbuQ=
before_install:
- export DISPLAY=:99.0
- sh -e /etc/init.d/xvfb start
install:
- npm install
env:
  global:
  - CEDAR_VERSION="2.5.6"
cache:
  directories:
  - node_modules
