<mat-form-field class="mat-form-field">
  <input matInput [formControl]="control" [type]="node.subtype"
    [min]="node.minLength" [max]="node.maxLength"
    [min]="node.min" [max]="node.max">

  <mat-hint>{{node.hint}} </mat-hint>
  <mat-error *ngIf="control['hasError']('url')">
    Value must be a <strong>URL</strong>
  </mat-error>
  <mat-error *ngIf="control['hasError']('tel')">
    Value must be a <strong>phone number</strong>
  </mat-error>
  <mat-error *ngIf="control['hasError']('email')">
    Value must be an <strong>email address</strong>
  </mat-error>
  <mat-error *ngIf="control['hasError']('numeric')">
    Value must be a <strong>number</strong>
  </mat-error>
  <mat-error *ngIf="control['hasError']('decimal')">
    Value must have exactly
    <strong>{{control['errors']['decimal']['required']}}</strong>
    decimal places instead of
    <strong>{{control['errors']['decimal']['actual']}}</strong>
  </mat-error>
  <mat-error *ngIf="control['hasError']('min')">
    Value {{control['errors']['min']['actual']}} must be larger than
    <strong>{{control['errors']['min']['min']}}</strong>
  </mat-error>
  <mat-error *ngIf="control['hasError']('max')">
    Value {{control['errors']['max']['actual']}} must be smaller than
    <strong>{{control['errors']['max']['max']}}</strong>
  </mat-error>
  <mat-error *ngIf="control['hasError']('minlength')">
    Value length {{control['errors']['minlength']['actualLength']}} is smaller than
    <strong>{{control['errors']['minlength']['requiredLength']}}</strong>
  </mat-error>
  <mat-error *ngIf="control['hasError']('maxlength')">
    Value length {{control['errors']['maxlength']['actualLength']}} is larger than
    <strong>{{control['errors']['maxlength']['requiredLength']}}</strong>
  </mat-error>
  <mat-error *ngIf="control['hasError']('required')">
    Value is <strong>required</strong>
  </mat-error>
</mat-form-field>
