<div *ngIf="templateField && !artifactStatus" class="instance__container ">
  <!--  <app-artifact-header [artifact]="template" [cedarLink]="cedarLink"></app-artifact-header>-->
  <!--  <app-json-view [artifact]="template"></app-json-view>-->

  <mat-tab-group (selectedTabChange)="selectedTabChange($event)">

    <mat-tab label="{{'App.Form' | translate}}">

      <div class="tab-header">
        <div class="mode-toggle__container">
          <span *ngIf="viewOnly" class="mode-toggle__text">{{'App.View' | translate}}</span>
          <span *ngIf="!viewOnly" class="mode-toggle__text">{{'App.Edit' | translate}}</span>
          <label class="toggle-button__container">
            <input (click)="toggleDisabled()" type="checkbox" class="mode-toggle__input"/>
            <span [ngClass]="{'mode-toggle__bg-checked': viewOnly}" class="mode-toggle__bg"></span>
            <span [ngClass]="{'mode-toggle__circle-checked': viewOnly}" class="mode-toggle__circle"></span>
          </label>
        </div>
      </div>

      <app-metadata-form *ngIf="form" [form]="form" [instance]="instance" [template]="templateField"
        [disabled]="viewOnly"
        (autocomplete)="onAutocomplete($event)" (changed)="onChanged($event)"
        [autocompleteResults]="allPosts"></app-metadata-form>

      <div>
        <button mat-raised-button color="primary" [disabled]="viewOnly" (click)="onSubmit()">{{'App.Save' | translate}}
        </button>
      </div>

    </mat-tab>
    <mat-tab label="{{'App.JSONLD' | translate}}">
      <div *ngIf="instance">
        <div class="tab-header">
          <button id="jsonLDCopy" mat-raised-button color="accent" (click)="copyToClipboard('jsonLD', 'jsonLDCopy')">
            {{'App.Copy' | translate}}
          </button>
        </div>
        <pre><span id="jsonLD">{{ instance | json}}</span></pre>
      </div>
    </mat-tab>

    <mat-tab label="{{'App.RDF' | translate}}">
      <div>
        <div class="tab-header">
          <button id="rdfCopy" mat-raised-button color="accent" (click)="copyToClipboard('rdf', 'rdfCopy')">
            {{'App.Copy' | translate}}
          </button>
        </div>
        <pre><div id="rdf">{{rdf}}</div></pre>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>

<div *ngIf="artifactStatus">
  <app-artifact-error [status]="artifactStatus" [cedarLink]="cedarLink"></app-artifact-error>
</div>
