<div *ngIf="template && !artifactStatus" class="instance__container ">
  <cedar-form
    [instance]="instance"
    [template]="template"
    [mode]="mode"
    (autocomplete)="onAutocomplete($event)"
    (formChange)=" onFormChange($event)"
    [autocompleteResults]="allPosts"></cedar-form>
</div>

<app-form-results *ngIf="template && !artifactStatus" [instance]="instance" [template]="template" [rdf]="rdf"></app-form-results>
<app-legend *ngIf="template && !artifactStatus"></app-legend>

<div *ngIf="artifactStatus">
  <app-artifact-error [status]="artifactStatus" [cedarLink]="cedarLink"></app-artifact-error>
</div>
