@if (template && !artifactStatus) {
  <div>
    <app-artifact-header [artifact]="template"></app-artifact-header>
  </div>
}

<!--<app-legend *ngIf="template && !artifactStatus"></app-legend>-->

@if (template && !artifactStatus) {
  <div class="instance__container ">
    <cedar-embeddable-editor
      [config]="cfg"
      [templateObject]="template"
    ></cedar-embeddable-editor>
  </div>
}


@if (artifactStatus) {
  <div>
    <app-artifact-error [status]="artifactStatus" [cedarLink]="cedarLink"></app-artifact-error>
  </div>
}

