
.instance__container {
  margin: var(--cedar-space-2) auto var(--cedar-space-4) auto;
  overflow-y: auto;
  overflow-x: hidden;
  max-width: 80%;

  @media only screen and (max-width: 300px) {
    max-width: 100%;
    padding: 0 var(--cedar-space-2);
  }

  @media only screen and (min-width: 301px) and (max-width: 600px) {
    max-width: calc(100% - 4em);
  }

  @media only screen and (min-width: 601px) and (max-width: 700px) {
    max-width: 580px;
  }

  @media only screen and (min-width: 701px) and (max-width: 1000px) {
    max-width: calc(80% - 4em);
  }

  @media only screen and (min-width: 1001px) {
    max-width: calc(1000px - 4em);
  }
}

.tab-header {
  padding: var(--cedar-space-2) var(--cedar-space-2) 0 var(--cedar-space-2);
  display: flex;
  justify-content: flex-end;
}


.copy-to-clipboard {
  text-align: right;
}

.instance__container-dark {
  color: var(--cedar-color-on-primary);
}

.toggle-button__container {
  cursor: pointer;
  position: relative;
  margin: 0 var(--cedar-space-2);
}

.example-tree-invisible {
  display: none;
}

.example-tree ul,
.example-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.save-button {
  text-align: right;
  padding: 0 var(--cedar-space-6) var(--cedar-space-4);
}
