<div class="wide-container" [hidden]="isHidden">

  <div class="metadata__container">
    <h1 class="metadata-title">Metadata</h1>


    <div class="metadata">
      <table>
        <tbody>

        <tr *ngIf="!artifact['schema:isBasedOn']">
          <td class="label">{{'ArtifactHeader.Type' | translate}}:</td>
          <td>{{'type.' + artifact['@type'] | translate}}</td>
        </tr>

        <tr *ngIf="artifact['schema:isBasedOn']">
          <td class="label">{{'ArtifactHeader.Type' | translate}}:</td>
          <td>{{'type.TemplateInstance' | translate}}</td>
        </tr>

        <tr>
          <td class="label">{{'ArtifactHeader.SchemaName' | translate}}:</td>
          <td>{{artifact['schema:name']}}</td>
        </tr>

        <tr>
          <td class="label">{{'ArtifactHeader.SchemaDescription' | translate}}:</td>
          <td>{{artifact['schema:description']}}</td>
        </tr>

        <tr>
          <td class="label">{{'ArtifactHeader.CreatedOn' | translate}}:</td>
          <td>{{artifact['pav:createdOn']}}</td>
        </tr>

        <tr>
          <td class="label">{{'ArtifactHeader.LastUpdatedOn' | translate}}:</td>
          <td>{{artifact['pav:lastUpdatedOn']}}</td>
        </tr>

        <ng-container *ngIf="!artifact['schema:isBasedOn']">

        <tr>
          <td class="label">{{'ArtifactHeader.Version' | translate}}:</td>
          <td>{{artifact['pav:version']}}</td>
        </tr>

        <tr>
          <td class="label">{{'ArtifactHeader.PublicationStatus' | translate}}:</td>
          <td>{{'biboStatus.' + artifact['bibo:status'] | translate}}</td>
        </tr>

        </ng-container>

        <tr>
          <td class="label">{{'ArtifactHeader.CEDAR' | translate}}:</td>
          <td><a href="javascript://" class="cedarLink"
                 (click)="openInCedar()">{{'ArtifactHeader.LinkToArtifact' | translate}}</a></td>
        </tr>

        <tr *ngIf="artifactIsTemplate()">
          <td class="label">{{'ArtifactHeader.CEDAR' | translate}}:</td>
          <td><a href="javascript://" class="cedarPopulateLink"
                 (click)="populateInCedar()">{{'ArtifactHeader.LinkToPopulate' | translate}}</a></td>
        </tr>

        </tbody>
      </table>
    </div>

  </div>

</div>

