<div class="wide-container">

  <div class="legend__container">
    <div class="legend-title" >Legend</div>
    <div class="legend">
      <div>
        <mat-icon cedarIcon="field-text"></mat-icon>
        Text
      </div>
      <div>
        <mat-icon cedarIcon="field-controlled"></mat-icon>
        Controlled
      </div>
      <div>
        <mat-icon cedarIcon="field-number"></mat-icon>
        Number
      </div>
      <div>
        <mat-icon cedarIcon="field-date"></mat-icon>
        Date
      </div>
      <div>
        <mat-icon cedarIcon="field-email"></mat-icon>
        Email
      </div>
      <div>
        <mat-icon cedarIcon="field-phone"></mat-icon>
        Telephone
      </div>
      <div>
        <mat-icon cedarIcon="field-checkbox"></mat-icon>
        Checkbox
      </div>
      <div>
        <mat-icon cedarIcon="field-list"></mat-icon>
        List
      </div>
      <div>
        <mat-icon cedarIcon="field-radio"></mat-icon>
        Radio
      </div>
      <div>
        <mat-icon cedarIcon="field-link"></mat-icon>
        Link
      </div>
      <div>
        <mat-icon cedarIcon="field-paragraph"></mat-icon>
        Paragraph
      </div>
      <div>
        <mat-icon cedarIcon="field-attribute-value"></mat-icon>
        Attribute
      </div>
      <div>
        <mat-icon class="asterisk" cedarIcon="required"></mat-icon>
        Required
      </div>
    </div>
  </div>
</div>
