<ng-snotify></ng-snotify>
<app-spinner></app-spinner>

<!-- Slide Menu-->
<aside class="side-menu__container" [ngClass]="{'side-menu__container-active': showMenu}">
  <nav class="slide-menu" [ngClass]="{'slide-menu-active': showMenu}" (click)="$event.stopImmediatePropagation();">
    <section class="menu-header">
      <span></span>
    </section>
    <section class="menu-body">
      <div class="menu__container">
      </div>
    </section>
    <section class="menu-footer">
    </section>
  </nav>
</aside>

<div class="root__container">
  <header class="main__header">

    <img class="cedar__logo" src="assets/img/CEDAR_logo_tree.png">

    <h1 class="app-title">{{'App.NavTitle'|translate}}
      <button (click)="openInCedar()" mat-icon-button class="help-text-button"
        matTooltip="login to CEDAR">
        <mat-icon>exit_to_app</mat-icon>
      </button>
    </h1>

  </header>

  <main class="main__container">
    <div class="main-container__bg">
    </div>

    <router-outlet></router-outlet>
  </main>

  <footer class="main__footer">
    <div class="flex">


      <div class="paragraph__section">
        <div style="margin:auto">
          <h2>Stay up to date.</h2>
          Get free support for all of your CEDAR questions via our mailing list. The list is actively monitored by
          Stanford’s CEDAR team, as well as many experienced CEDAR users from the community at large.
        </div>
      </div>

      <div class="form__section" >
        <form >
          <div class="subscribe" >
            <input type="text" placeholder="email address" >
            <button mat-raised-button  color="primary">Subscribe</button>
          </div>
          <div class="disclaimer">By subscribing, you agree to receive updates about CEDAR.</div>
        </form>
      </div>
    </div>
  </footer>


</div>
