<div *ngIf="templateElement && !artifactStatus" class="instance__container">

  <cedar-form
    [mode]="mode"
    [instance]="instance"
    [template]="templateElement"
    (autocomplete)="onAutocomplete($event)"
    (formChange)="onFormChange($event)"
    [autocompleteResults]="allPosts"></cedar-form>

  <div *ngIf="instance">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Form result in JSON-LD
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div style="text-align:right">
          <button id="jsonLDCopy" mat-raised-button color="primary" (click)="copyToClipboard('jsonLD', 'jsonLDCopy')">
            {{'App.Copy' | translate}}
          </button>
        </div>
        <pre><span id="jsonLD">{{ instance | json}}</span></pre>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>

<div *ngIf="artifactStatus">
  <app-artifact-error [status]="artifactStatus" [cedarLink]="cedarLink"></app-artifact-error>
</div>
