<mat-form-field class="mat-form-field">
  <input matInput
    [required]="node.required"
    [matDatepicker]="picker"
    [formControl]="control">
  <mat-hint>{{node.hint}}</mat-hint>
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
  <mat-error *ngIf="control['hasError']('matDatepickerParse')">
    Value must be a <strong>date</strong>
  </mat-error>
  <mat-error *ngIf="control['hasError']('required')">
    Value is <strong>required</strong>
  </mat-error>
</mat-form-field>
