<div *ngFor="let fg of formGroup.controls['values']['controls'];let j = index">
  <div style="display:flex;">

    <div class="example-full-width mat-form-field" style="padding-right:10px">
      <mat-form-field class="example-full-width mat-form-field">
        <input matInput
          [formControl]="fg['controls']['values']['controls'][0]"
          [type]="node.type">
        <mat-hint>Name</mat-hint>
      </mat-form-field>
    </div>

    <div class="example-full-width mat-form-field">
      <mat-form-field class="example-full-width mat-form-field">
        <div style="display:flex">
        <input matInput
          [formControl]="fg['controls']['values']['controls'][1]"
          [type]="node.type">


        <div >
        <button mat-icon-button add-remove-icons  *ngIf="!disabled" (click)="copy(node,j)">
          <mat-icon aria-label="Add attribute value">
            file_copy
          </mat-icon>
        </button>
        </div>
        <div>
        <button mat-icon-button add-remove-icons *ngIf="!disabled && removeable(node)" (click)="remove(node,j)">
          <mat-icon aria-label="Remove attribute value">
            delete_forever
          </mat-icon>
        </button>
        </div>

        </div>
        <mat-hint>Value</mat-hint>
      </mat-form-field>

    </div>


  </div>
</div>

