@import '../styles.scss';

.wrapperCard {
  background-color: #f5f5f5;

  .header {
    font-size: 1.2em;
    margin: 5px 5px 10px 5px;
  }

  .footer {
    font-size: 1em;
    margin: 5px 5px 10px 5px;
    padding: 5px 5px 5px 5px;
  }
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: left;
  flex-wrap: wrap;
}

.flex-container > .flex-item {
  margin: 5px;
  width: 160px;
  height: 90px;
  padding: 10px;
  overflow: hidden;

  .name {
    position: absolute;
    left: 10px;
    top: 40px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    width: 140px;
    height: 44px;
    border: 0px solid red;
  }
}

a {
  color: #000000;
}

.warning-card {
  max-width: 400px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.1);
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.1);
}

.overlay {
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.avatar-image {
  font-size: 2em;
}
