<div>
  <nav class="navbar navbar-fixed-top clearfix" id="top-navigation" role=" navigation ">
    <div class="nav-container" id="headerCtrl" ng-controller="HeaderCtrl as hc">
      <div class="navbar-header ">


        <div >
          <div class="navbar-back flex">
            <div class="back-arrow-click flex-left" ng-click="hc.confirmBack()">
              <i class="back-arrow fa fa-arrow-left"></i>
              <!--<cedar-resource-icon resource-type="hc.resourceType"></cedar-resource-icon>-->
              <div class="document-title" style="white-space: nowrap;">
                <i class="material-icons md-18">arrow_back</i>
                 {{title}}
               </div>
            </div>

            <div  class="flex-right feedback-form">
              <div ><i
                class="fa " ng-class="{'fa-circle-o': hc.isDirty(), 'fa-circle': !hc.isDirty()}"></i></div>
              <div ><i
                class="fa " ng-class="{'fa-lock': hc.isLocked(), 'fa-unlock': !hc.isLocked()}"></i></div>
              <div >
                <i  class="fa " ng-class="hc.validIcon()"></i></div>
            </div>


          </div>
        </div>
      </div>
    </div>
  </nav>

  <div id="user-menu-dropdown">
      <ul>
        <a href="/profile"><li id="user-profile-tool" >Profile</li></a>
        <a target="_blank" href="http://metadatacenter.org/tools-training/support"><li id="user-help">Help</li></a>
        <a target="_blank" href="http://metadatacenter.org/tools-training/orientation"><li id="user-about" >About</li></a>
        <a href="/privacy"><li id="user-privacy" >Privacy</li></a>
        <a href="/logout"><li id="user-logout-tool" >Logout</li></a>
      </ul>
    </div>
</div>


