@if (template && artifactStatus === null) {
  <app-legend></app-legend>
}

@if (template && artifactStatus === null) {
  <div class="instance__container " [hidden]="unreadable">
    <app-artifact-heading [artifact]="template" kind="Field"></app-artifact-heading>
    <cedar-embeddable-field
      [eventHandler]="handler"
      [config]="cfg"
      [fieldObject]="template"
    ></cedar-embeddable-field>
  </div>
}

@if (unreadable) {
  <div>
    <app-artifact-error [status]="0" [unreadable]="true" [cedarLink]="cedarLink"></app-artifact-error>
  </div>
}

@if (artifactStatus !== null) {
  <div>
    <app-artifact-error [status]="artifactStatus" [cedarLink]="cedarLink"></app-artifact-error>
  </div>
}
