<div *ngIf="instance && !artifactStatus && !templateStatus">
  <app-artifact-header [artifact]="instance"></app-artifact-header>
</div>

<div *ngIf="artifactStatus">
  <app-artifact-error [status]="artifactStatus" [cedarLink]="cedarLink"></app-artifact-error>
</div>

<div *ngIf="templateStatus">
  <app-artifact-error [status]="templateStatus" [instanceTemplateError]="true"
                      [cedarLink]="cedarLink"></app-artifact-error>
</div>

<div *ngIf="instance && template">

  <app-legend *ngIf="instance && !artifactStatus"></app-legend>

  <div class="instance__container ">
    <cedar-embeddable-editor
      [config]="cavConfig"
      [templateObject]="template"
      [instanceObject]="instance"
    ></cedar-embeddable-editor>
  </div>

  <app-form-results [instance]="instance" [template]="template" [rdf]="rdf"></app-form-results>

</div>

