@if (instance && !artifactStatus && !templateStatus) {
  <div>
    <app-artifact-header [artifact]="instance"></app-artifact-header>
  </div>
}

@if (artifactStatus) {
  <div>
    <app-artifact-error [status]="artifactStatus" [cedarLink]="cedarLink"></app-artifact-error>
  </div>
}

@if (templateStatus) {
  <div>
    <app-artifact-error [status]="templateStatus" [instanceTemplateError]="true"
    [cedarLink]="cedarLink"></app-artifact-error>
  </div>
}

@if (instance && template) {
  <div>
    <!--  <app-legend *ngIf="instance && !artifactStatus"></app-legend>-->
    <div class="instance__container ">
      <cedar-embeddable-editor
        [config]="cfg"
        [templateObject]="template"
        [instanceObject]="instance"
      ></cedar-embeddable-editor>
    </div>
  </div>
}

