<ng-container *ngIf="node.type == 'static';else notStaticType">
  <cedar-youtube *ngIf="node.subtype == 'youtube'" [formGroup]="formGroup" [node]="node"></cedar-youtube>
  <cedar-image *ngIf="node.subtype == 'image'" [formGroup]="formGroup" [node]="node"></cedar-image>
  <cedar-richtext *ngIf="node.subtype == 'richtext'" [formGroup]="formGroup" [node]="node"></cedar-richtext>
  <cedar-section *ngIf="node.subtype == 'section-break'" [formGroup]="formGroup" [node]="node"></cedar-section>
</ng-container>

<ng-template #notStaticType>
  <div [formGroup]="formGroup" class="form-group">

    <label class="question-label" [attr.for]="node.name">
<!--       <span *ngIf="node.type == 'textfield'" class="question-icon">-->
<!--         <span *ngIf="node.subtype == 'email'" class="question-icon"><fa-icon [icon]="faEnvelope"></fa-icon></span>-->
<!--         <span *ngIf="node.subtype == 'number'" class="question-icon"><fa-icon [icon]="faHashtag"></fa-icon></span>-->
<!--         <span *ngIf="node.subtype == 'url'" class="question-icon"><fa-icon [icon]="faLink"></fa-icon></span>-->
<!--         <span *ngIf="node.subtype == 'text'" class="question-icon"><fa-icon [icon]="faFont"></fa-icon></span>-->
<!--         <span *ngIf="node.subtype == 'tel'" class="question-icon"><fa-icon [icon]="faPhoneSquare"></fa-icon></span>-->
<!--       </span>-->
<!--      <span *ngIf="node.type == 'date'" class="question-icon"><fa-icon [icon]="faCalendar"></fa-icon></span>-->
<!--      <span *ngIf="node.type == 'textarea'" class="question-icon"><fa-icon [icon]="faParagraph"></fa-icon></span>-->
<!--      <span *ngIf="node.type == 'checkbox'" class="question-icon"><fa-icon [icon]="faCheckSquare"></fa-icon></span>-->
<!--      <span *ngIf="node.type == 'list'" class="question-icon"><fa-icon [icon]="faList"></fa-icon></span>-->
<!--      <span *ngIf="node.type == 'radio'" class="question-icon"><fa-icon [icon]="faDotCircle"></fa-icon></span>-->
<!--      <span *ngIf="node.type == 'controlled'" class="question-icon"><fa-icon [icon]="faExternalLinkAlt"></fa-icon></span>-->
<!--      <span *ngIf="node.type == 'attribute-value'" class="question-icon"><fa-icon [icon]="faPlusSquare"></fa-icon></span>-->
      {{node.name}}
    </label>

    <span *ngIf="node.required" class="required"><fa-icon [icon]="faAsterisk"></fa-icon></span>

    <button mat-icon-button class="mat-icon-button help-text-button" *ngIf="node.help" [matTooltip]="node.help">
      <mat-icon>help_outline</mat-icon>
    </button>


    <div *ngIf="node.type == 'attribute-value' || node.type == 'list' || node.type == 'controlled' || node.type == 'checkbox' || node.type == 'radio'">

      <cedar-attribute-value *ngIf="node.type == 'attribute-value'" [formGroup]="formGroup" [node]="node"
        [disabled]="disabled"
        (changed)="onChange($event)"></cedar-attribute-value>

      <cedar-list *ngIf="node.type == 'list'" [formGroup]="formGroup" [node]="node"
        (changed)="onChange($event)"></cedar-list>

      <controlled *ngIf="node.type == 'controlled'" [group]="formGroup"
        [valueConstraints]="node.valueConstraints"
        [autocompleteResults]="autocompleteResults"
        (autocomplete)="onAutocomplete($event)"
        (onRemovedOption)="onRemovedControlled($event)"
        (onSelectedOption)="onSelectedControlled($event)"></controlled>

      <cedar-checkbox *ngIf="node.type == 'checkbox'" [formGroup]="formGroup" [node]="node"
        (changed)="onChange($event)"></cedar-checkbox>

      <cedar-radio *ngIf="node.type == 'radio'" [formGroup]="formGroup" [node]="node"
        (changed)="onChange($event)"></cedar-radio>
    </div>

    <div *ngIf="allowsMultiple(node.type)">
      <div [ngSwitch]="node.type">
        <div *ngFor="let control of formGroup.controls['values']['controls'];index as i">


          <div *ngIf="node.multiSelect" style="padding-top:.5em">
            {{node.name}}  ({{(i + 1)}}  of {{ node.maxItems || 'N' }})
            <button mat-icon-button class="node-add" *ngIf="!disabled" (click)="copyItem(node,i)">
              <mat-icon>add_circle_outline</mat-icon>
            </button>
            <button mat-icon-button class="node-remove" *ngIf="!disabled" (click)="removeItem(node,i)">
              <mat-icon>remove_circle_outline</mat-icon>
            </button>
          </div>

          <cedar-textfield *ngSwitchCase="'textfield'" [formGroup]="formGroup" [control]="control" [node]="node"
            [index]="i" [disabled]="disabled" (changed)="onChange($event)"></cedar-textfield>

          <cedar-textarea *ngSwitchCase="'textarea'" [formGroup]="formGroup" [control]="control" [node]="node"
            [index]="i" (changed)="onChange($event)"></cedar-textarea>

          <cedar-date *ngSwitchCase="'date'" [formGroup]="formGroup" [control]="control" [node]="node" [index]="i"
            (changed)="onChange($event)"></cedar-date>
        </div>
      </div>
    </div>
  </div>
</ng-template>

