/* You can add global styles to this file, and also import other style files */


div.header-box {
  background-color: #32494b !important;
  color: #ffffff
}

div.content-box {
  background-color: #fafafa !important;
}
