<div class="legend">
  <div><fa-icon class="asterisk" [icon]="faAsterisk"></fa-icon>Required</div>
  <div><fa-icon [icon]="faEnvelope"></fa-icon>Email</div>
  <div><fa-icon [icon]="faHashtag"></fa-icon>Number</div>
  <div><fa-icon [icon]="faLink"></fa-icon>Link</div>
  <div><fa-icon [icon]="faFont"></fa-icon>Text</div>
  <div><fa-icon [icon]="faPhoneSquare"></fa-icon>Telephone</div>
  <div><fa-icon [icon]="faCalendar"></fa-icon>Date</div>
  <div><fa-icon [icon]="faParagraph"></fa-icon>Paragraph</div>
  <div><fa-icon [icon]="faCheckSquare"></fa-icon>Checkbox</div>
  <div><fa-icon [icon]="faList"></fa-icon>List</div>
  <div><fa-icon [icon]="faDotCircle"></fa-icon>Radio</div>
  <div><fa-icon [icon]="faExternalLinkAlt"></fa-icon>Controlled</div>
  <div><fa-icon [icon]="faPlusSquare"></fa-icon>Attribute</div>
</div>
