@import 'src/theme.scss';

.main__header {
  @media screen and (max-width: 800px) {
    height: 120px;
  }
  @media screen and (min-width: 800px) {
    height: 40px;
  }
  //box-shadow: 0 0 2rem rgba(95, 160, 179, 0.2);
  box-shadow: 0 0 2rem rgba(99, 153, 165, 0.2);
  margin: 0;
  padding: 0;
  align-items: center;
  transition: background-color 500ms linear;
  animation: fadein 1s ease-in-out 0ms 1;

  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }

  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
  }

  .cedar__logo {
    border: 0px solid red;

    img {
      width: 250px;
      height: 40px;
    }
  }

  .artifact-title {
    border: 0px solid red;
    height: 40px;
    margin:auto;
    font-size: 16px;
    .artifact-title-paragraph {
      margin:auto;
    }
  }

  .button-container {
    border: 0px solid #ff0000;
    width: 300px;
    height: 40px;
  }

  @media screen and (min-width: 800px) {
    .cedar__logo {
      flex: 0 0 auto;
    }
    .artifact-title {
      flex: 1 1 auto;
    }
    .button-container {
      flex: 0 0 auto;
    }
  }

}

.app-title {
  color: mat-color($my-app-logo);
  font-weight: lighter;
  font-family: CrimsonText, serif;
  font-size: 2em;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.mat-expansion-panel-header.mat-expanded {
  height: 48px!important;
}
